@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 id="hello_world" class="display-4 green-text" onmouseover="NewColor()" onmouseout="oldColor()"> Hello, young Fellas </h1>


    <p id="text-video"> Check here my favourite song!</p>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/xm3YgoEiEDc?&autoplay=1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

    <br />
    <h1 id="myText"> Here is text with JavaScript code, which makes text gradient</h1>
</div>
